{% extends 'base.html' %}
{% block title %} Rtu Papers|Second Year
{% endblock title %}
{% block project_link %}/
{% endblock project_link %}
{% block about_us_link %}/
{% endblock about_us_link %}
{% block body %}

<div style="margin-top: 150px;"></div>


    <!--==========================
      rtu papers
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>RTU OLD PAPER'S</h3>
          
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li >
            <a  class="collapsed" href="cs2"> Computer Science <i class="fa fa-arrow-right"></i>
              </a>
            
          </li>

          <li>
            <a  class="collapsed" href="it2">Information Technology <i class="fa fa-arrow-right"></i> </a>
            
          </li>
          <li>
            <a  class="collapsed" href="ee2">Electrical Engineering<i class="fa fa-arrow-right"></i> </a>
            
          </li>
          <li>
            <a  class="collapsed" href="cve2">Civil Engineering <i class="fa fa-arrow-right"></i></a>
            
          </li>
          <li>
            <a  class="collapsed" href="me2">Mechanical Engineering<i class="fa fa-arrow-right"></i> </a>
            
          </li>
          <li>
            <a  class="collapsed" href="ece2">Electrical Communication Engineering <i class="fa fa-arrow-right"></i></a>
            
          </li>

          <li>
            <a class="collapsed" href="che2">Chemical Engineering <i class="fa fa-arrow-right"></i></a>
            
          </li>



          

          



          

        </ul>

      </div>
    </section>
    <!-- #faq -->

  </main>

  
{% endblock body %}
