
div [class^="col-md-3 col-sm-6"]{
    /* padding-left:5px;
    padding-right:10px;
    padding-bottom: 10px; */
  
    
    margin:20px;
    
    
    
  }
  .card{
    transition:0.5s;
    cursor:pointer;
    
  }
  .card-title{  
    font-size:25px;
    transition:1s;
    cursor:pointer;
    color: #1bb1dc;
    font-weight: bold;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:100px;  
    font-size:15px;
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  .center{
    justify-content:center;
  }
  
  /* responsive for center  */
  
  @media only screen and (min-width: 1500px) and (max-width:1700px) {
              div [class^="col-md-3"]{
              
              margin-left:81px;
              
  
              }
          }   
  
    @media only screen and (min-width: 1300px) and (max-width:1500px) {
              div [class^="col-md-3"]{
              
              margin-left:75px;
              
  
              }
          }  
  
     @media only screen and (min-width: 1250px) and (max-width:1300px) {
              div [class^="col-md-3"]{
              
              margin-left:70px;
              
  
              }
          }            
  
       @media only screen and (min-width: 1180px) and (max-width:1250px) {
              div [class^="col-md-3"]{
              
              margin-left:65px;
              
  
              }
          }    
  
        @media only screen and (min-width: 1110px) and (max-width:1180px) {
              div [class^="col-md-3"]{
              
              margin-left:60px;
              
  
              }
          }        
  
        @media only screen and (min-width: 1050px) and (max-width:1110px) {
              div [class^="col-md-3"]{
              
              margin-left:55px;
              
  
              }
          }     
        @media only screen and (min-width: 1000px) and (max-width:1050px) {
              div [class^="col-md-3"]{
              
              margin-left:50px;
              
  
              }
          }       
  
        @media only screen and (min-width: 850px) and (max-width:1000px) {
              div [class^="col-md-3"]{
              
              margin-left:44px;
              
  
              }
          }      
        @media only screen and (min-width: 770px) and (max-width:850px) {
              div [class^="col-md-3"]{
              
              margin-left:35px;
              
  
              }
          }    
        @media only screen and (min-width: 735px) and (max-width:770px) {
              div [class^="col-md-3"]{
              
              margin-left:195px;
              
  
              }
          }      
  
        @media only screen and (min-width: 680px) and (max-width:735px) {
              div [class^="col-md-3"]{
              
              margin-left:175px;
              
  
              }
          }     
  
        @media only screen and (min-width: 590px) and (max-width:680px) {
              div [class^="col-md-3"]{
              
              margin-left:155px;
              
  
              }
          }           
  
        @media only screen and (min-width: 576px) and (max-width:590px) {
              div [class^="col-md-3"]{
              
              margin-left:105px;
              
              
  
              }
          }      
  
 