 
    .searchbox{
  
        top: 20%;
        position: absolute;
        right:0.2%;
        overflow:none;
      }       
      .query{
      border-radius: 15px;
     background:#343a40;
    width:200px;
         height:40px;
         
        
      } 
      #btnn{
         border-radius: 10px;
         color:#1bb1dc;
         background:black;
         width:40px;
         height:40px;
         
         
      }     
    #btnn:focus{
        outline:none;
       
      }    
      .query:focus{
        outline:none;
      }     
    html, body {width: auto!important; overflow-x: hidden!important} 
        